#wrap {
    padding-top: 70px;
}

#navbar {
    margin-top: 30px;
}

.navbar-toggle {
    margin-top: 38px;
}

.navbar-brand {
    background: url(../img/logo.jpg) no-repeat;
    width: 160px;
    height: 90px;
    margin-right: 0;
    padding-right: 160px;
    margin: 10px 0;
    text-indent: -9999em;
}

.nav > li > a {
    /*
    padding-left: 10px;
    padding-right: 10px;
    */
    padding-left: 7px;
    padding-right: 7px;
}

.navbar-nav > li.active > a {
    color: #555 !important;
    font-weight: bold;
}

.navbar-nav .dropdown-menu a {
    color: #555 !important;
}

.navbar-nav .dropdown-menu .active a {
    color: #fff !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #ccc;
}

@media (min-width:992px) {
    #search.navbar-form .col-md-4 {
        width: 30%;
    }
}

@media (max-width:1200px) {
    #search.navbar-form .col-md-4 {
        width: 23%;
    }
}

/* Carousel base class */
.carousel {
    height: 300px;
    margin-bottom: 30px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    left: 15%;
    right: 15%;
}

.carousel-caption p a {
    color: #9eb343;
}

.carousel-caption p a.btn {
    color: #fff;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #028baf;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.home .big-link {
    color: #333;
    display: block;
}

.home .big-link:hover {
    text-decoration: none;
}

#flatpages {
    margin: 0;
    padding: 0;
}

#flatpages li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

#flatpages li a:hover {
    text-decoration: none;
}

body > div.x-panel #paneltbar {
    margin-top: 111px;
}

body.documents article.ng-scope img.thumb {
    width: 240px;
}

/* Metadata form */
label.required-field:after {
    content: ' *';
    color: red;
}

body.data #category_form .control-label {
    display: block;
    text-align: left;
}

/* Allow glyphicons in input widgets */
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

/* recent content block */
#recent-content {
    margin-bottom: 30px;
}
#recent-content .heading {
    margin-top: 0;
}
.recent-box {
    margin-top: 15px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}
.recent-box:hover {
    border-color: #e7e7e7;
}
.recent-box a {
    display: block;
    text-decoration: none;
    color: #333;
}
.recent-abstract {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 10px;
    opacity: 0;
    background: transparent;
    transition: opacity .25s, background .25s;
    -moz-transition: opacity .25s, background .25s;
    -webkit-transition: opacity .25s, background .25s;
}
.recent-abstract:hover {
    opacity: 1;
    background: #e7e7e7;
}
.recent-title {
    padding: 5px 10px;
    background: #ccc;
    overflow: hidden;
}

/* facet ribbon */
#facet-ribbon {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: -30px;
}
#facet-ribbon .col-md-3 {
    border-right: 1px solid #ccc;
    padding: 0;
}
#facet-ribbon .col-md-3:last-child {
    border-right: none;
}
@media (max-width:992px) {
    #facet-ribbon .col-md-3 {
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #facet-ribbon .col-md-3:last-child {
        border-right: 1px solid #ccc;
        border-bottom: none;
    }
}
#facet-ribbon a .pull-right {
    font-size: 20px;
    line-height: 20px;
}
#facet-ribbon a {
    color: #777;
    text-decoration: none;
    padding: 10px 15px;
}
#facet-ribbon a:hover {
    color: #333;
}

/* smaller activity thumb to accomodate documents */
.thumb-activity img {
    width: 45px;
}

/* footer */
#footer-credits {
    margin-top: 5px;
    font-size: 12px;
}
