{% extends 'site_index.html' %}
{% load i18n %}
{% block mainbody %}
  {% if recent_content %}
  <div class="container">
    <div id="recent-content" class="row">
      <h3 class="heading">{% trans "Recent Layers" %}</h3>
      {% for content in recent_content %}
        <div class="col-md-3">
          <div class="recent-box">
            <div class="text-center">
              <a href="{{ content.detail_url }}" title="{{ content.name|escape }}">
                <img src="{{ content.thumbnail_url }}" alt="thumbnail" width="250" height="150">
                <div class="recent-abstract">
                  {{ content.abstract|escape|urlize|linebreaks|safe|truncatechars:250 }}
                </div>
                <div class="recent-title">{{ content.title|escape|truncatechars:30 }}</div>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
{% if sliders %}
{% block carousel %}
<div id="CarouselHome" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slider in sliders %}
    <li data-target="#CarouselHome" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for slider in sliders %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{{ MEDIA_URL }}{{ slider.image }}" alt="Slider {{ forloop.counter }}">
      <div class="container">
        <div class="carousel-caption">
          {% if slider.description %}
          {% autoescape off %}
          {{ slider.description|removetags:'script iframe' }}
          {% endautoescape %}
          {% endif %}
          {% if slider.link and slider.link_text %}
          <p class="text-right"><a class="btn btn-lg btn-primary" href="{% autoescape off %}{{ slider.link }}{% endautoescape %}" role="button">{{ slider.link_text }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#CarouselHome" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#CarouselHome" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel --> 
{% endblock %}
{% endif %}