{% load i18n %}
{% load bootstrap_tags %}

<form class="form-horizontal" action="{% url "layer_metadata" layer.service_typename %}" method="POST">
  {% if layer.metadata_uploaded %}
  <p class="bg-warning">
    {% blocktrans %}Note: this layer's orginal metadata was populated by importing a metadata XML file.
    GeoNode's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
    Some of your original metadata may have been lost.{% endblocktrans %}
  </p>
  {% endif %}
    
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
  </div>
  
  
  <div class="form-controls">
    {{ layer_form|as_bootstrap }}
  </div>
  
  <div class="row">
    <div class="">
      <fieldset id="category_form">
        <label class="control-label required-field">{% trans "Category" %}</label>
        {% autoescape off %}
        {% for choice in category_form.category_choice_field.field.choices %}
        <div class="radio">
          <input type="radio" name="category_choice_field" value="{{ choice.0 }}" {% ifequal category_form.initial choice.0 %} checked="checked" {% endifequal %} > 
            {{ choice.1 }}
          </input>
        </div>
        {% endfor %}
        {% endautoescape %}
      </fieldset>
    </div>
    <div class="grid-spacer">
      <h5>{% trans "Attributes" %}</h5>
      {{ attribute_form.management_form }}
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th>{% trans "Attribute" %}</th>
          <th>{% trans "Label" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Display Order" %}</th>
        </tr>
        {% for form in attribute_form.forms %}
        {% if form.attribute %}
        <tr>
          <td><div style="display:none">{{form.id}}</div>{{form.attribute}}</td>
          <td>{{form.attribute_label}}</td>
          <td>{{form.description}}</td>
          <td>{{form.display_order}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
      </div>
    </div>
  </div>
</form>
